.footer_container {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 2rem 7rem 1rem 7rem;
    border-top: 1px solid #2ca9bc;
    background-color: #16171d;
    bottom: 0;
}

.footer_main {
    display: flex;
    flex-direction: row;
    height: 300px;
}

.footer_title {
    flex: 1;
    font-size: 1rem;
}

.footer_menu_container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 1rem;
    gap: 1.5rem;
}

.footer_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item_menu {
    list-style: none;
}

.footer_copy {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

.link {
    text-decoration: none;
    color: aliceblue;
}

.link_active {
    text-decoration: none;
    color: #2ca9bc;
}

.brand_heading {
    font-size: 4rem;
}

.footer_heading {
    font-size: 1.25rem;
    color: aliceblue;
    text-decoration: none;
}

.footer_heading:hover {
    color: #2ca9bc;
}